<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tieto.systemmanagement">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.UPDATE_APP_OPS_STATS" />
    <uses-permission android:name="android.permission.GET_APP_OPS_STATS" />

    <!-- permission for intercept. Monitor all coming calls -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />

    <user-permission android:name="android.permission.MODIFY_PHONE_STATE" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />"
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
    <uses-permission android:name="android.permission.CLEAR_APP_USER_DATA" />
    <uses-permission android:name="android.permission.CHANGE_COMPONENT_ENABLED_STATE" />
    <uses-permission android:name="android.permission.FORCE_STOP_PACKAGES" />
    <uses-permission android:name="android.permission.DELETE_CACHE_FILES" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    //Disk management related
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".TApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".SystemManagementActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BasicActivity" >
        </activity>
        <activity
            android:name=".NotificationActivity"
            android:label="@string/title_activity_notification" />
        <activity
            android:name=".processmanage.ProcessActivity"
            android:label="@string/title_activity_process_management" >
        </activity>
        <activity
            android:name=".MemoryActivity"
            android:label="@string/title_activity_memory" />
        <activity
            android:name=".AppActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden|uiMode|locale|layoutDirection"
            android:label="@string/title_activity_app" />
        <activity
            android:name=".authority.controller.AuthorityActivity"
            android:label="@string/title_activity_authority" >
        </activity>
        <activity
            android:name=".authority.controller.AuthorityDetailActivity"
            android:label="@string/title_activity_authority" >
        </activity>
        <activity
            android:name=".StartUpActivity"
            android:label="@string/title_activity_self_start" />
        <activity
            android:name=".trafficmonitor.TrafficActivity"
            android:icon="@drawable/t_common_title_icon"
            android:label="@string/title_activity_traffic" >
        </activity>
        <activity
            android:name=".diskmonitor.activities.DiskActivity"
            android:label="@string/title_activity_disk" >
        </activity>
        <activity
            android:name=".diskmonitor.activities.DiskSWUninstalledActivity"
            android:label="@string/title_activity_disk" >
        </activity>
        <activity
            android:name=".intercept.views.InterceptActivity"
            android:label="@string/title_activity_no_spam" >
        </activity>
        <activity
            android:name=".BatteryActivity"
            android:label="@string/title_activity_battery" />
        <activity
            android:name=".app.AppDetailActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden|uiMode|locale|layoutDirection"
            android:label="@string/app_detail" >
        </activity>
        <activity
            android:name=".diskmonitor.activities.DiskPackagesActivity"
            android:label="@string/title_activity_disk_packages" >
        </activity>
        <activity
            android:name=".diskmonitor.activities.DiskAlbumActivity"
            android:label="@string/title_activity_disk_album" >
        </activity>
        <activity
            android:name=".diskmonitor.activities.DiskAudioActivity"
            android:label="@string/title_activity_disk_audio" >
        </activity>
        <activity
            android:name=".diskmonitor.activities.DiskGalleryActivity" >
        </activity>

        <activity
            android:name=".trafficmonitor.control.NetworkManageActivity"
            android:icon="@drawable/t_common_title_icon"
            android:label="联网管理" >
        </activity>
        <activity android:name=".BasicTabbedActivity" >
        </activity>
        <activity
            android:name=".trafficmonitor.control.MessureNetworkSpeedActivity"
            android:icon="@drawable/t_common_title_icon"
            android:label="网络测速" />
        <activity
            android:name=".intercept.views.CallInterceptConfigActivity"
            android:label="@string/title_activity_call_intercept_config" >
        </activity>
        <activity
            android:name=".intercept.views.MessageInterceptConfigActivity"
            android:label="@string/title_activity_message_intercept_config" >
        </activity>

        <receiver android:name=".trafficmonitor.broadcast.PackageBroadCast" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name=".trafficmonitor.broadcast.ShutDownBroadCast" >
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>
        </receiver>
        <receiver android:name=".trafficmonitor.entity.BootBroadCast" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <!-- Intercept -->
        <receiver android:name=".intercept.service.PhoneCallReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>
        <receiver android:name=".intercept.service.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".intercept.service.PhoneFilterServer" />
        <service android:name=".trafficmonitor.service.CalculateBackGroundTrafficService" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </service>

        <activity
            android:name=".authority.controller.AppListForOnePermissionActivity"
            android:label="@string/title_activity_app_list_for_one_permission" >
        </activity>
    </application>

</manifest>
